[submodule "vendor/graham-campbell/result-type"]
    path = vendor/graham-campbell/result-type
    url = https://github.com/GrahamCampbell/Result-Type.git

[submodule "vendor/phpoption/phpoption"]
    path = vendor/phpoption/phpoption
    url = https://github.com/PhpOption/PhpOption.git

[submodule "vendor/symfony/polyfill-ctype"]
    path = vendor/symfony/polyfill-ctype
    url = https://github.com/symfony/polyfill-ctype.git

[submodule "vendor/symfony/polyfill-mbstring"]
    path = vendor/symfony/polyfill-mbstring
    url = https://github.com/symfony/polyfill-mbstring.git

[submodule "vendor/symfony/polyfill-php80"]
    path = vendor/symfony/polyfill-php80
    url = https://github.com/symfony/polyfill-php80.git

[submodule "vendor/vlucas/phpdotenv"]
    path = vendor/vlucas/phpdotenv
    url = https://github.com/vlucas/phpdotenv.git
